.ion-content {
	// padding-top: 3rem;
	background-color: var(--ion-color-fondo);
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title {
	color: white;
	text-align: center;
}
form {
	margin: 1rem;
}
ion-button {
	margin-top: 1rem;
	font-weight: bold;
	letter-spacing: 2px;
}
ion-item {
	--background: var(--ion-color-fondo);
	border: 1px solid white;
	color: white;
}
ion-toolbar {
	--background: var(--ion-color-fondo);
}
