.ion-content {
	padding-top: 6rem;
	background: url('../../../assets/img/svg(2).png') no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title {
	color: black;
	text-align: center;
}
form {
	margin: 1rem;
}
ion-button {
	margin-top: 1rem;
	font-weight: bold;
	height: 3rem;
	border-radius: 15px;
}
ion-button:active {
	border: 2px solid #f1b634;
}
ion-item {
	border: 1px solid white;
	border-radius: 10px;
	color: black;
}
ion-item:active {
	border: 2px solid #f1b634;
	--background: #fcfcfc;
}
