<!-- Inicio header -->
<ion-header>
  <ion-toolbar>
    <ion-title>Generador QR</ion-title> <!-- TITULO -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Botón volver al side menú -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Fin header -->

<!-- Inicio contenido de la página-->
<ion-content>

  <qrcode elementType="img" (qrCodeURL)="onCodeChange($event)" [width]="400" qrdata="https://www.youtube.com/watch?v=afpxpnzaA3g" [errorCorrectionLevel]="'H'"></qrcode>
  
  <a [href]="url" download="Clase">Descargar código QR</a> <!-- para descargar el QR -->

</ion-content>
<!-- Fin contenido de la pagina -->
