<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> <!-- "START" = EL BOTON ESTÁ A LA IZQUIERDA DE LA PANTALLA-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Registrarse</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioRegistro"> <!-- PERTENECE A LA CLASE formularioLogin, creada en login.page.ts -->

        <!-- NOMBRE DE USUARIO-->
        <ion-item>
          <ion-label position="floating"> Nombre de usuario </ion-label> <!-- FLOATING ES EL EFECTO -->
          <ion-input formControlName="nombre"></ion-input> <!-- EL INPUT DEL NOMBRE -->
        </ion-item>

        <!-- NOMBRE -->
        <ion-item>
          <ion-label position="floating"> Nombre </ion-label> <!-- FLOATING ES EL EFECTO -->
          <ion-input formControlName="nombre"></ion-input> <!-- EL INPUT DEL NOMBRE -->
        </ion-item>

      <!-- APELLIDO -->
      <ion-item>
        <ion-label position="floating"> Apellido </ion-label> <!-- FLOATING ES EL EFECTO -->
        <ion-input formControlName="nombre"></ion-input> <!-- EL INPUT DEL NOMBRE -->
      </ion-item>

      <!-- NIVEL DE EDUCACION -->
      <ion-item>
        <ion-label>Nivel educación</ion-label>
        <ion-select placeholder="Seleccione nivel de educación" okText="Aceptar" cancelText="Cancelar" interface="popover">
          <ion-select-option value="basica">Basica</ion-select-option>
          <ion-select-option value="media">Media</ion-select-option>
          <ion-select-option value="superior">Superior</ion-select-option>
          <ion-select-option value="supincompleta">Superior incompleta</ion-select-option>
          <ion-select-option value="egresado">Egresado</ion-select-option>
          <ion-select-option value="titulado">Titulado</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- CONTRASEÑA -->
      <ion-item>
        <ion-label position="floating"> Contraseña </ion-label>
        <ion-input formControlName="contraseña" type="password"></ion-input> <!-- "TYPE = PASSWORD" ES PARA QUE MUESTRE ****-->
      </ion-item>

      <!-- CONFIRMAR CONTRASEÑA -->
      <ion-item>
        <ion-label position="floating"> Confirmar Contraseña </ion-label>
        <ion-input formControlName="confirmacionContraseña" type="password"></ion-input>
      </ion-item>
      </form>

      <!-- BOTON INGRESAR -->
      <br>
      <ion-button (click)="ingresar()"><!-- EVENTO GUARDAR-->
        Ingresar
      </ion-button>
      <!-- FIN BOTON INGRESAR-->

      <!-- BOTON LIMPIAR -->
      <br>
      <ion-button (click)="limpiar()"> <!-- EVENTO LIMPIAR-->
        Limpiar campos
      </ion-button>
      <!-- FIN BOTON LIMPIAR-->.

    </ion-card-content>
  </ion-card>
<ion-content>

</ion-content>
