ion-content {
	// --background: red;
	// --padding-top: 0px;
	// --padding-start: 10px;
	// --padding-end: 10px;
}
p {
	font-size: 17px;
}
ion-content {
	margin: 0px;
	padding: 0px;
}
.datosUsuario {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin: 0px 10px 0px 10px;
	p {
		display: flex;
		align-items: center;
		gap: 15px;
		ion-icon {
			font-size: 20px;
			margin-left: 10px;
		}
	}
}
ion-label {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 4rem;
	ion-thumbnail {
		--border-radius: 50%;
		margin-left: 5rem;
		margin-bottom: 1rem;
		width: 8rem;
		height: 8rem;
	}
}
#nombre {
	margin: 0px 10px 0px 10px;
	text-align: center;
	font-size: 20px;
}
.user-container {
	padding-top: 1rem;
	padding-bottom: 1rem;
	// height: 10rem;
	// padding: 1rem;
	border-radius: 0px 0px 25px 25px;
	.user-profile {
		text-align: center;
		// margin: 15px;
		img {
			height: 8rem;
			// border-radius: 50%;
		}
	}
}
