ion-card {
	background-color: var(--ion-color-fondo);
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
ion-content {
	text-align: center;
	background-color: var(--ion-color-fondo-shade);
}
ion-card-content {
	display: flex;
	flex-direction: column;
	background-color: var(--ion-color-fondo-shade);
	margin: 0.7rem;
	padding: 10px;
}
ion-card-header {
	margin: 0;
	padding: 0;
}
form {
	margin-bottom: 2.5rem;
}
#logo-duoc {
	width: 6rem;
}
.logo-container {
	// margin: 0.5rem 0rem;
}
ion-item {
	margin: 0.5rem 0rem;
}

#ingresar {
	height: 2.5rem;
	color: white;
}
ion-input {
	// background-color: white;
}
ion-label {
	// background-color: white;
}
