<!-- <ion-header>
  <ion-toolbar> -->
<!--  ATRIBUTO "COLOR" ES PARA ASIGNAR COLOR. PRIMARY = AZUL EN EL PROYECTO-->
<!-- <ion-title>Login</ion-title> -->
<!-- </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card>
    <div class="logo-container">
      <img src="../../assets/icon/DuocLogoAzul.png" alt="logo-duoc" srcset="" id="logo-duoc">
    </div>
    <ion-card-header>
      <ion-card-title>Iniciar Sesion</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <!-- PERTENECE A LA CLASE formularioLogin, creada en login.page.ts -->
        <ion-item>
          <ion-label position="floating"> Nombre de usuario </ion-label> <!-- FLOATING ES EL EFECTO -->
          <ion-input formControlName="nombre"></ion-input> <!-- EL INPUT DEL NOMBRE -->
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Contraseña </ion-label>
          <ion-input formControlName="contraseña" type="password"></ion-input>
          <!-- "TYPE = PASSWORD" ES PARA QUE MUESTRE ****-->
        </ion-item>
      </form>

      <!-- BOTON INGRESAR -->
      <br>
      <ion-button expand="block" color="warning" (click)="ingresar()" id="ingresar">
        <!-- EVENTO INGRESAR-->
        Ingresar
      </ion-button>
      <!-- FIN BOTON INGRESAR-->
    </ion-card-content>
  </ion-card>

</ion-content>
<!-- INICIO FOOTER -->
<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end"> -->
<!-- ATRIBUTO PARA QUE EL BOTÓN ESTÉ EN UN DIRECCIÓN. "END" = A LA DERECHA DE LA PANTALLA-->
<!-- <ion-button expand="full" [routerLink]="['/registro']">Registrarse</ion-button> -->
<!-- routerLink ES PARA IR A OTRA PÁGINA DE LA APP-->
<!-- </ion-buttons>
  </ion-toolbar>
</ion-footer> -->
<!-- FIN FOOTER -->