ion-card{
  margin-top: 30px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
ion-content{
  text-align: center;
}
ion-card-content{
  display: flex;
  flex-direction: column;
}
ion-card-header{
  margin: 0;
  padding: 0;
}
form{
  margin-bottom: 2.5rem;
}
#logo-duoc{
  width: 6rem;
}
.logo-container{
  margin: .5rem 0rem;
}
ion-item{
  margin: .5rem 0rem;
}

#ingresar{
  height: 2.5rem;
}
ion-input{
  // background-color: white;
}
ion-label{
  // background-color: white;
}
ion-item{
  text-align: left;
}