<ion-header>
  <ion-toolbar color="primary"> <!--  ATRIBUTO "COLOR" ES PARA ASIGNAR COLOR. PRIMARY = AZUL EN EL PROYECTO-->
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title> Inicie sesión </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioLogin"> <!-- PERTENECE A LA CLASE formularioLogin, creada en login.page.ts -->
        <ion-item>
          <ion-label position="floating"> Nombre de usuario </ion-label> <!-- FLOATING ES EL EFECTO -->
          <ion-input formControlName="nombre"></ion-input> <!-- EL INPUT DEL NOMBRE -->
        </ion-item>
    
        <ion-item>
          <ion-label position="floating"> Contraseña </ion-label>
          <ion-input formControlName="contraseña" type="password"></ion-input> <!-- "TYPE = PASSWORD" ES PARA QUE MUESTRE ****-->
        </ion-item>
      </form>

      <!-- BOTON INGRESAR -->
      <br>
      <ion-button (click)="ingresar()"> <!-- EVENTO INGRESAR-->
        Ingresar
      </ion-button>
      <!-- FIN BOTON INGRESAR-->
    </ion-card-content>
  </ion-card>

</ion-content>
<!-- INICIO FOOTER -->
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end"> <!-- ATRIBUTO PARA QUE EL BOTÓN ESTÉ EN UN DIRECCIÓN. "END" = A LA DERECHA DE LA PANTALLA-->
      <ion-button [routerLink]="['/registro']">Registrarse</ion-button> <!-- routerLink ES PARA IR A OTRA PÁGINA DE LA APP-->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
<!-- FIN FOOTER -->