<ion-content class="container">

  <ion-menu contentId="main-content" type="overlay">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-list>
        <ion-button routerLink="/escaner" color="light" expand="full" size="default">
          <ion-icon name="qr-code-outline" set></ion-icon>
          <p>
            Escanear
          </p>
        </ion-button>

        <!-- Item 2  ir al historial -->
        <!-- <ion-item>
          <ion-button routerLink="/historial-qrs" color="warning">
            Historial
            <ion-icon name="copy-outline"></ion-icon>
          </ion-button>
        </ion-item> -->
        <!-- Fin item 2 ir al historial -->

        <ion-button routerLink="/compartir-qr" color="light" size="default">
          <ion-icon name="share-social-outline"></ion-icon>
          <p>
            Compatir QR
          </p>
        </ion-button>

        <ion-button routerLink="/error404" color="light" size="default">
          <ion-icon name="bug-outline"></ion-icon>
          <p>
            Error 404
          </p>
        </ion-button>

        <ion-button (click)=cerrarSesion() color="light" size="default" id="cerrar-sesion">
          <ion-icon name="log-out-outline"></ion-icon>
          <p>
            Cerrar sesión
          </p>
        </ion-button>

      </ion-list>

    </ion-content>

  </ion-menu>


  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar style="--background: #F1B634;">
        <ion-buttons slot="start">
          <ion-menu-button color="dark"></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <div class="user-profile">
        <img src='https://avatars.dicebear.com/api/initials/{{userName}}.svg' alt="">
      </div>

      <p id="nombre">
        {{nombre}}
      </p>

      <form class="datosUsuario">

        <p>
          <ion-icon name="person-circle-outline"></ion-icon>
          {{userName}}
        </p>

        <p>
          <ion-icon name="mail-outline"></ion-icon>
          {{userName}}@duocuc.cl
        </p>

        <p>
          <ion-icon name="book-outline"></ion-icon>
          Analista Programador Computacional
        </p>

      </form>

    </ion-content>
  </div>

</ion-content>