ion-menu {
	ion-toolbar {
		--background: #04284a;
	}
}

ion-menu {
	ion-content {
		--background: #042e54;
	}
}

ion-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	gap: 10px;
	background-color: #042e54;
	ion-item {
		--background: #042e54;
		ion-button {
			text-transform: capitalize;
			font-size: 14px;
			width: 100%;
			ion-icon {
				margin: 5px 0px 5px 5px;
			}
		}
	}
}

//Cerrar sesión
#cerrar-sesion {
	margin-top: auto;
}
//Fin cerrar sesión
// boton cerrar sidemenu
ion-icon[name='close-circle'] {
	color: white;
	font-size: 26px;
	margin-left: 16px;
}
//Inicio datos usuario
.datosUsuario {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	p {
		display: flex;
		align-items: center;
		gap: 8px;
		ion-icon {
			font-size: 20px;
		}
	}
}
//Fin datos usuario
.user-profile {
	text-align: center;
	margin: 15px;
	img {
		height: 8rem;
		border-radius: 50%;
	}
}

.bienvenido > p {
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0px;
}
#nombre {
	font-size: 1rem;
	text-align: center;
	text-transform: capitalize;
}
