ion-menu {
	ion-toolbar {
		--background: #f1b634;
	}
}

ion-menu {
	ion-content {
		--background: #f4f5f8;
	}
}

ion-content {
	padding: 0px;
}
ion-list {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	background-color: #f4f5f8;
	ion-button {
		border: none;
		border-style: none;
		--border-style: none;
		--color: black;
		ion-icon {
			margin-right: 20px;
		}
		p {
			margin-right: auto;
		}
	}
}

#cerrar-sesion {
	margin-top: auto;
	--background: #f1b634;
}

.bienvenido > p {
	text-align: center;
	font-size: 1rem;
	margin-bottom: 0px;
}
#nombre {
	font-size: 1rem;
	text-align: center;
	text-transform: capitalize;
}
