<ion-content class="container">

  <!-- Inicio menú-->
  <ion-menu contentId="main-content" type="overlay">

    <!-- Inicio header -->
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title> <!-- NO PONER TITULO, PORQUE SE SUPERPONE CON EL MENU BAR-->
        <ion-menu-toggle class="ion-padding">
          <!-- <ion-button>Cerrar menú</ion-button> Título del menú -->
          <ion-icon name="close-circle"></ion-icon>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <!-- Fin header-->

    <!-- Inicio content-->
    <ion-content class="ion-padding">

      <!-- Inicio lista de items del menú -->
      <ion-list>

        <!-- Item 1 ir al lector QR -->
        <ion-item>
          <ion-button routerLink="/escaner" color="warning">
            Escanear
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin item 1 ir al lector QR -->

        <!-- Item 2  ir al historial -->
        <ion-item>
          <ion-button routerLink="/historial-qrs" color="warning">
            Historial
            <ion-icon name="copy-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin item 2 ir al historial -->

        <!-- Item 3  ir a compartir QR -->
        <ion-item>
          <ion-button routerLink="/compartir-qr" color="warning">
            Compatir QR
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin item 3 ir a compartir QR-->

        <!-- Item error 404 -->
        <ion-item>
          <ion-button routerLink="/error404" color="warning">
            Error 404
            <ion-icon name="bug-outline"></ion-icon> <!-- Icono bug -->
          </ion-button>
        </ion-item>
        <!-- Fin item error 404-->

        <!-- Item recuperar contraseña -->
        <ion-item>
          <ion-button routerLink="/recuperar-contrasegna" color="warning">
            recuperar contraseña
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin recuperar contraseña -->

        <!-- Item cerrar sesión -->
        <ion-item id="cerrar-sesion">
          <ion-button (click)=alertaCerrarSesion() color="warning">
            Cerrar sesión
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin item cerrar sesión -->

      </ion-list>
      <!-- Fin lista de items del menú-->

    </ion-content>
    <!-- Fin content-->

  </ion-menu>
  <!-- Fin menú-->


  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

      <div class="bienvenido">
        <p>¡Bienvenido {{userName}}!</p>
      </div>
      <div class="user-profile">
        <!-- <img src="../../../assets/img/usuario sin fondo.png" alt=""> -->
        <img src='https://avatars.dicebear.com/api/initials/{{userName}}.svg' alt="">
      </div>

      <p id="nombre">
        {{nombre}}
      </p>
      <!-- Inicio datos usuario -->
      <form class="datosUsuario">

        <!-- Saludar usuario -->

        <!-- Nombre usuario + icono -->
        <p>
          <ion-icon name="person-circle-outline"></ion-icon>
          {{userName}}
        </p>

        <!-- Nombre completo + icono -->

        <!-- Correo institucional = nombre de usuario + @duocuc.cl -->
        <p>
          <ion-icon name="mail-outline"></ion-icon>
          {{userName}}@duocuc.cl
        </p>

        <!-- Carrera -->
        <p>
          <ion-icon name="book-outline"></ion-icon>
          Analista Programador Computacional
        </p>

      </form>
      <!-- Fin datos usuario -->

    </ion-content>
  </div>

</ion-content>