<ion-content class="container">

  <!-- Inicio menú-->
  <ion-menu contentId="main-content" type="push">

    <!-- Inicio header -->
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title> <!-- NO PONER TITULO, PORQUE SE SUPERPONE CON EL MENU BAR-->
        <ion-menu-toggle class="ion-padding">
          <ion-button>Cerrar menú</ion-button> <!-- Título del menú -->
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <!-- Fin header-->

    <!-- Inicio content-->
    <ion-content class="ion-padding">

      <!-- Inicio lista de items del menú -->
      <ion-list>

        <!-- Item 1 ir al lector QR -->
        <ion-item>
          <ion-button routerLink="/escaner" color="warning">
            Escanear
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin item 1 ir al lector QR -->

        <!-- Item 2  ir al historial -->
        <ion-item>
          <ion-button routerLink="/historial-qrs" color="warning">
            Historial
            <ion-icon name="copy-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin item 2 ir al historial -->

        <!-- Item 3  ir a compartir QR -->
        <ion-item>
          <ion-button routerLink="/compartir-qr" color="warning">
            Compatir QR
            <ion-icon name="share-social-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin item 3 ir a compartir QR-->

        <!-- Item cerrar sesión -->
        <ion-item id="cerrar-sesion">
          <ion-button (click)=alertaCerrarSesion() color="warning">Cerrar sesión
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <!-- Fin item cerrar sesión -->

      </ion-list>
      <!-- Fin lista de items del menú-->

    </ion-content>
    <!-- Fin content-->

  </ion-menu>
  <!-- Fin menú-->


  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1>
        {{userName}}
      </h1>
      <h4>
        {{nombre}}
      </h4>
    </ion-content>
  </div>

</ion-content>