<ion-content>
  <ion-card>
    <!-- cabecera -->
    <ion-card-header>
      <div class="logo-container">
        <img src="../../assets/icon/DuocLogoAzul.png" alt="logo-duoc" srcset="" id="logo-duoc">
      </div>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>

    <!-- contenido -->
    <ion-card-content>
      <div class="form">

        <div class="inputs-container">
        </div>
        <ion-item>
          <ion-label position="floating">Usuario </ion-label> <!-- FLOATING ES EL EFECTO -->
          <ion-input class="input" [(ngModel)]="user.usuario" type="email" autocomplete="email" clearInput="true"
            inputmode="email" value="string">
          </ion-input>
          <!-- EL INPUT DEL NOMBRE -->
        </ion-item>

        <div>
          <ion-item>
            <ion-label position="floating">Contraseña </ion-label>
            <ion-input [(ngModel)]="user.password" type="password" clearInput="true">
            </ion-input>
          </ion-item>
          <a style="float: right; color: white;" routerLink="/recuperar-contrasegna">
            ¿Has olvidado tu contraseña?
          </a>
        </div>
        <ion-button expand="block" color="warning" (click)="ingresar()" id="ingresar">
          Ingresar
        </ion-button>
      </div>

      <!-- INICIO VERSIÓN -->
      <p>Versión 1.0</p> 
      <!-- FIN VERSIÓN -->

    </ion-card-content>
  </ion-card>
</ion-content>