<!-- INICIO HEADER-->
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- FIN HEADER-->


<ion-content>
  <div class="ion-content">
    <div class="title">
      <h1>¿Has olvidado tu contraseña?</h1>
      <!-- <p>Nueva contraseña</p> -->
    </div>
    <form>
      <ion-item>
        <ion-label position="floating">Usuario </ion-label>
        <ion-input type="password" clearInput="true"></ion-input>
      </ion-item>
      <ion-button expand="full" color="warning" id="ingresar" routerLink="/login">
        Enviar
      </ion-button>
    </form>
  </div>
</ion-content>