.ion-content {
	background-color: var(--ion-color-fondo);
	display: flex;
	flex-direction: column;
	height: 100%;
}

.title {
	color: white;
	text-align: center;
}
form {
	margin: 1rem;
}
ion-button {
	margin-top: 1rem;
}
