<ion-header>
  <ion-toolbar>
    <ion-title>Generar Qr</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label position="floating">Profesor </ion-label>
    <ion-input style="--padding-bottom: 0px" [(ngModel)]="profesor" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Asignatura </ion-label>
    <ion-input style="--padding-bottom: 0px" [(ngModel)]="asignatura" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Seccion </ion-label>
    <ion-input style="--padding-bottom: 0px" [(ngModel)]="siglas" type="text"></ion-input>
  </ion-item>

  <!-- <ion-item (click)="showPicker = !showPicker">
    <ion-label>Fecha</ion-label>
    <ion-text slot="end">
      {{formattedString}}
    </ion-text>
  </ion-item>
  <ion-datetime *ngIf="showPicker" #datetime size="cover" (ionChange)="dateChanged(datetime.value)"
    showDefaultButtons="true" (ionCancel)="showPicker = false">
  </ion-datetime> -->

  <ion-item>
    <ion-label position="floating">Correo </ion-label>
    <ion-input style="--padding-bottom: 0px" [(ngModel)]="correo" type="email"></ion-input>
  </ion-item>

  <ion-button expand="block" shape="round" color="warning" (click)="generarQr()" id="generar">Generar qr</ion-button>
  <qrcode [qrdata]="qrString" [width]="256" style="text-align: center;"> </qrcode>
</ion-content>