<ion-content>
  <ion-card>
    <!-- cabecera -->
    <ion-card-header>
      <div class="logo-container">
        <ion-img src="../../../assets/img/Logo_DuocUC.svg.png" id="logo-duoc"></ion-img>
      </div>
    </ion-card-header>


    <ion-card-content>
      <div class="form">

        <ion-item>
          <ion-label position="floating">
            Usuario
          </ion-label>
          <ion-input class="input" [(ngModel)]="usuario" type="text" clearInput="true" value="string">
          </ion-input>

        </ion-item>

        <div>
          <ion-item>
            <ion-label position="floating">Contraseña </ion-label>
            <ion-input [(ngModel)]="password" type="password" clearInput="true">
            </ion-input>
          </ion-item>
          <a style="float: right; color: black; margin-top: 1rem;" routerLink="/recuperar-contrasegna">
            ¿Has olvidado tu contraseña?
          </a>
        </div>
        <ion-button expand="block" (click)="ingresar()" id="ingresar" color="light" shape="round">
          Ingresar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>