<!-- INICIO HEADER-->
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- FIN HEADER-->

<ion-content>
  <ion-item *ngIf="scannedResult" class="ion-text-center">
    <ion-label style="display: flex;flex-direction: column;">
      <div>
        <p>
          Id: {{scannedResult.id}}
        </p>
      </div>
      <div>
        <p>
          Docente: {{scannedResult.docente}}
        </p>
      </div>
      <div>
        <p>
          Asignatura: {{scannedResult.asignatura}}
        </p>
      </div>
      <div>
        <p>
          Correo: {{scannedResult.correo}}
        </p>
      </div>
      <div>
        <p>
          Seccion: {{scannedResult.seccion}}
        </p>
      </div>
    </ion-label>
  </ion-item>
</ion-content>