<!-- INICIO HEADER-->
<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- FIN HEADER-->

<ion-content>
  <ion-item *ngIf="scannedResult" class="ion-text-center">
    <ion-label>
      {{scannedResult.id}}
      {{scannedResult.profesor}}
      {{scannedResult.hora}}
    </ion-label>
    <ion-label>
      {{scannedResult}}
    </ion-label>
  </ion-item>
</ion-content>