<ion-header>
  <ion-toolbar>
    <ion-title>Historial Qrs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- <app-filtro></app-filtro> -->
<ion-content>
  <ion-list *ngIf="alumno.historial">
    <ion-item slot="header" color="light" *ngFor=" let histo of alumno.historial" style="margin: 10px 0px;">
      <label style="display: flex; flex-direction: column;">
        <h5>
          profesor/a: {{histo.profesor}}
        </h5>
        <p>
          siglas: {{histo.siglas}}
        </p>
      </label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="!alumno.historial">
    <ion-label>
      no hay historial
    </ion-label>
  </ion-item>
  <ion-label style="margin-top: auto;">
    <button (click)=borrarHistorial()>borrar historial</button>
  </ion-label>
</ion-content>