<ion-header>
  <ion-toolbar>
    <ion-title>Historial Qrs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Idea: filtrar por fecha, profesor, siglas -->
<app-filtro></app-filtro>
<ion-content>
  <ion-accordion-group *ngIf="alumno.historial">
    <ion-accordion *ngFor=" let histo of alumno.historial" color="light">
      <ion-item slot="header" color="light">
        <ion-label>
          {{histo.profesor}}
        </ion-label>
      </ion-item>
      <div slot="content">
        {{histo.siglas}}
        {{histo.hora}}
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item *ngIf="!alumno.historial">
    <ion-label>
      no hay historial
    </ion-label>
  </ion-item>
</ion-content>